IO_LOC  "sda" 69;
IO_PORT "sda" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "scl" 68;
IO_PORT "scl" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "clock" 52;
IO_PORT "clock" IO_TYPE=LVCMOS33 PULL_MODE=UP;
