IO_LOC  "uart_tx[7]" 71;
IO_PORT "uart_tx[7]" DRIVE=16 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "uart_tx[6]" 72;
IO_PORT "uart_tx[6]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "uart_tx[5]" 73;
IO_PORT "uart_tx[5]" IO_TYPE=LVCMOS33;

IO_LOC  "uart_tx[4]" 32;
IO_PORT "uart_tx[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "uart_tx[3]" 31;
IO_PORT "uart_tx[3]" DRIVE=16 IO_TYPE=LVCMOS33;

IO_LOC  "uart_tx[2]" 49;
IO_PORT "uart_tx[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "uart_tx[1]" 48;
IO_PORT "uart_tx[1]" IO_TYPE=LVCMOS33;

IO_LOC  "uart_tx[0]" 70;
IO_PORT "uart_tx[0]" IO_TYPE=LVCMOS33;

IO_LOC  "clock" 52;
IO_PORT "clock" IO_TYPE=LVCMOS33 PULL_MODE=UP;
